:root {
    --portal-dark-color: #252A34;
}

.portal-header {
    background: var(--portal-dark-color);
    background-image: url(../../img/portal/dev.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
    min-height: 400px;
}

#sort-by {
    background: transparent;
    border: 0;
    box-shadow: none;
}

@media screen and (max-width: 680px) {

    .portal-header {
        background-size: 200px;
    }
}